{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Hero Area Start -->
        {% include 'mainpage/hero.html' %}
      <!-- Hero Area End -->

    <!-- Services Section Start -->
        {% include 'mainpage/services.html' %}
    <!-- Services Section End -->

    <!-- About Section start -->
        {% include 'mainpage/about.html' %}
    <!-- About Section End -->

    <!-- Features Section Start -->
     {% include 'mainpage/features.html'%}
    <!-- Features Section End -->   

    <!-- Team Section Start -->
        {% include 'mainpage/team.html' %}
    <!-- Team Section End -->

    <!-- Pricing section Start --> 
        {% include 'mainpage/pricing.html' %}
    <!-- Pricing Table Section End -->
  
    <!-- Testimonial Section Start -->
        {% include 'mainpage/testimonial.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
        {% include 'mainpage/calltoaction.html' %}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
        {% include 'mainpage/contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
        {% include 'mainpage/footer.html' %}
    <!-- Footer Section End -->
{% endblock %}
